<% css = "../../css/login_register.css" %>
<%- include('partials/header.ejs') %>
    <div class="accueil">
        <h1>Register</h1>
        <form action='/register' method="POST">
            <div>
                <label>login :</label>
                <input type="text" name="login" required>
            </div>
            <div>
                <label>password :</label>
                <input type="password" name="pwd" required>
            </div>
            <div class="confirmation">
                <label>confirm password :</label>
                <input type="password" name="pwdConf" required>
            </div>
            <div class="status">
                <button type="submit" name="send">send</button>
                <% if (message.length > 0) { %>
                    <Label id="message"><%= message %></Label>
                <% } %>
            </div>
        </form>
    </div>
</body>
<%- include('partials/footer.ejs') %>
